#projekte-section {
  .content-area {
    h1 {
      font-size: 55px;
      font-weight: 700;
    }

    h4 {
      margin-top: 15px;
      font-size: 30px;
      font-weight: 600;
    }

    p {
      margin-top: 25px;
      font-size: 18px;
    }

    button {
      margin-top: 15px;
    }
  }
}